<h2>Lightsabers for Sale</h2>
<button><a href="#/productLocal/cart">View Cart ({{cartProducts.length}})</a></button>
<button><a href="#/productLocal/admin">Admin View</a></button>
<hr>
<!-- <article ng-repeat="product in products">
 <p><img src="{{product.image}}"></p>
 <h2>{{product.title}}</h2>
 <p>{{product.content}}</p>
 <button><a href="#/productLocal/{{\$index}}">View Product</a></button>
 <button ng-click="addToCart(product)">Add To Cart</button>
<hr>
</article> -->
<article ng-repeat="product in products">
  <product-list title="{{product.title}}" content="{{product.content}}" image="{{product.image}}">

  </product-list>
  <button><a href="#/productLocal/{{$index}}">View Product</a></button>
  <button ng-click="addToCart(product)">Add To Cart</button>
  <hr>
</article>
